/*resultpricestyle*/

.resultsheader{
    background: #2121a7;
    /* border: 0; */
    border-radius: 0;
    color: white;
}

.jumbotron{
        background-color: #0d3c5f;
    border-radius: 0;
    color: white;
}
}