<div class="container cover ">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <h1 class="form-title">
                    FLY TO BARCELONA <i class="fa fa-plane" aria-hidden="true"></i></h1>
                <form class="login">
                    <!--         <input type="number" placeholder="Your budget?" value=""> -->
                    <input type="text" ng-model="budget" placeholder="Max Budget €" required > <i class="fa fa-eur" aria-hidden="true"></i>
                    <input id="city" type="text" ng-model="city" placeholder="Where are you?" required> <i class="fa fa-compass" aria-hidden="true"></i>
                    <button type="submit" class="btn btn-success buttonhome" ng-click="getflights(city, departureDate, budget)">Let's fly!</button>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="posted-by"><p>Team project developed by Skylab Coders: Bernat, Wally & Carles</p></div> -->
</div>
