<!DOCTYPE html>
<html lang="en" ng-app="mainApp">

<head>
    <meta charset="UTF-8">
    <title>Fly to BCN ✈️</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--     <link rel="stylesheet" href="css/styles.css">-->
    <link rel="stylesheet" href="css/cover.css">
    <link rel="stylesheet" href="css/resultstyle.css">
</head>
<div class="container">
    <!-- Jumbotron -->
    <div class="container resultsheader">
        <div class="jumbotron ">
            <div class="col-md-12"></div>
            <h1>You got lucky!</h1>
            <p class="lead">We have found some amazing prices for you to travel to Barcelona. Don't miss this opportunity!</p>
        </div>
    </div>
</div>

<!-- START FLIGHTS RESULTS FROM ORIGIN TO BARCELONA-->
<div class="container">
    <hr class="featurette-divider">
    <div class="row featurette results">
        <div class="col-md-12">
            <h2>From XXXXX to Barcelona</h2>
            <div class="col-md-4">
                <h3 class="featurette-heading">DATES</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore in, iste quasi perspiciatis, laudantium, officiis ullam ab soluta saepe blanditiis, numquam assumenda cumque doloribus recusandae! Ipsa quibusdam numquam et?Search your next flight to Barcelona and choose the best dates for you</p>
            </div>
            <div class="col-md-4">
                <h3 class="featurette-heading">AIRLINES </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore in, iste quasi perspiciatis, laudantium, officiis ullam ab soluta saepe blanditiis, numquam assumenda cumque doloribus recusandae! Ipsa quibusdam numquam et?Search your next flight to Barcelona and choose the best dates for you</p>
            </div>
            <div class="col-md-4">
                <h3 class="featurette-heading">BUY YOUR TICKET </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore in, iste quasi perspiciatis, laudantium, officiis ullam ab soluta saepe blanditiis, numquam assumenda cumque doloribus recusandae! Ipsa quibusdam numquam et?Search your next flight to Barcelona and choose the best dates for you</p>
            </div>
        </div>
    </div>
    <!-- START FLIGHTS RESULTS FROM BARCELONA TO ORIGIN TO BARCELONA-->
    <hr class="featurette-divider">
    <div class="row featurette results">
        <div class="col-md-12">
            <h2>From Barcelona to XXXXX </h2>
            <div class="col-md-4">
                <h3 class="featurette-heading">DATES</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore in, iste quasi perspiciatis, laudantium, officiis ullam ab soluta saepe blanditiis, numquam assumenda cumque doloribus recusandae! Ipsa quibusdam numquam et?Search your next flight to Barcelona and choose the best dates for you</p>
            </div>
            <div class="col-md-4">
                <h3 class="featurette-heading">AIRLINES </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore in, iste quasi perspiciatis, laudantium, officiis ullam ab soluta saepe blanditiis, numquam assumenda cumque doloribus recusandae! Ipsa quibusdam numquam et?Search your next flight to Barcelona and choose the best dates for you</p>
            </div>
            <div class="col-md-4">
                <h3 class="featurette-heading">BUY YOUR TICKET </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore in, iste quasi perspiciatis, laudantium, officiis ullam ab soluta saepe blanditiis, numquam assumenda cumque doloribus recusandae! Ipsa quibusdam numquam et?Search your next flight to Barcelona and choose the best dates for you</p>
            </div>
        </div>
    </div>
</div>
<!-- START THE SEARCH SECTION-->
<div class="container">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Don't you like the dates we have found </h2>
            <p class="lead">Search your next flight to Barcelona and choose the best dates for you</p>
        </div>
        <div class="col-md-5">
            <p class="lead">Calendario de buscador</p>
            <!--             <input type="text" class="beauty-input price" placeholder="From">      
            <input type="text" class="beauty-input price" placeholder="to Barcelona"> -->
            <input type="text" class="beauty-input price" placeholder="Depart">
            <input type="text" class="beauty-input price" placeholder="Return">
        </div>
    </div>
</div>
<!-- /END THE SEARCH -->

<!-- /.container -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/controller/homecontroller.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
<script type="text/javascript" src="js/service.js"></script>
</body>

</html>
